apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: wxd
  repo: https://github.com/dambor/wxd-dev-pipeline.git
  releaseName: wxd
  namespace: wxd
  valuesInline:
    replicaCount: 1