imagePullSecrets:
  dockerPullSecret:
    name: docker-pull-secret
    create: true
    # Set useExisting to true if the secret already exists and you want to use it
    useExisting: false
    username: roneymathew
    password: dckr_pat_aMTElAIinWo3W7y6Ah80PtGl31Y
  icrPull:
    name: icr-pull
    create: true
    # Set useExisting to true if the secret already exists and you want to use it
    useExisting: false
    registry: icr.io
    username: iamapikey
    password: kXNttSj_gMVuvllf1EnLzk67nNzlG6mwJSCkp_PpaKg-